<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/aaab"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smarttourism"
        tools:targetApi="31">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".BlogActivity"
            android:exported="false" />
        <activity
            android:name=".TopPlacesActivity"
            android:exported="false" />
        <activity
            android:name=".OverviewActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".PlaceListActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".CityActivity"
            android:exported="false" />
        <activity
            android:name=".StateActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" /> <!-- ✅ Place the API key inside <application> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCVbC2DSXT9uqqQni5rE_yrcSa_0Q8td9k" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>